heartpre.json
[{"id":"95d16dff.d8727","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b377fe.4aafd8","type":"ui_form","z":"95d16dff.d8727","name":"","label":"","group":"75d2b9af.15af58","order":1,"width":0,"height":0,"options":[{"label":"AVGHEARTBEATSPERMIN","value":"hb","type":"number","required":true,"rows":null},{"label":"PALPITATIONSPERDAY","value":"pl","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"cl","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"SEX","value":"se","type":"text","required":true,"rows":null},{"label":"FAMILYHISTORY","value":"fh","type":"text","required":true,"rows":null},{"label":"SMOKERLAST5YRS","value":"sm","type":"text","required":true,"rows":null},{"label":"EXERCISEMINPERWEEK","value":"ex","type":"number","required":true,"rows":null}],"formValue":{"hb":"","pl":"","cl":"","bmi":"","ag":"","se":"","fh":"","sm":"","ex":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":400,"wires":[["9a46d06.9d1ab3","dc3221aa.6e4d9"]]},{"id":"9a46d06.9d1ab3","type":"debug","z":"95d16dff.d8727","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":520,"wires":[]},{"id":"dc3221aa.6e4d9","type":"function","z":"95d16dff.d8727","name":"pre-token","func":"global.set(\"hb\",msg.payload.hb)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"cl\",msg.payload.cl)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"fh\",msg.payload.fh)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"ex\",msg.payload.ex)\nvar apikey=\"7fpSXH2aTweb2A6y4bIxfh7v6JmBsX0aY6rJNVerxS-P\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":380,"wires":[["bf6c56d6.3574a8"]]},{"id":"bf6c56d6.3574a8","type":"http request","z":"95d16dff.d8727","name":"","method":"POST","ret":"obj","paytoqs":true,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":504,"y":445,"wires":[["37dffca9.cb94a4","20969151.2a685e"]]},{"id":"37dffca9.cb94a4","type":"debug","z":"95d16dff.d8727","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":480,"wires":[]},{"id":"20969151.2a685e","type":"function","z":"95d16dff.d8727","name":"Pre Prediction","func":"var hb = global.get(\"hb\")\nvar pl = global.get(\"pl\")\nvar cl = global.get(\"cl\")\nvar bmi = global.get(\"bmi\")\nvar ag = global.get(\"ag\")\nvar se = global.get(\"se\")\nvar fh = global.get(\"fh\")\nvar sm = global.get(\"sm\")\nvar ex = global.get(\"ex\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"AVGHEARTBEATSPERMIN\", \"PALPITATIONSPERDAY\", \"CHOLESTEROL\", \"BMI\", \"AGE\", \"SEX\", \"FAMILYHISTORY\", \"SMOKERLAST5YRS\", \"EXERCISEMINPERWEEK\"]],\"values\": [[hb,pl,cl,bmi,ag,se,fh,sm,ex]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":704.0000076293945,"y":376.0000021457672,"wires":[["43ee427.eac5fbc"]]},{"id":"43ee427.eac5fbc","type":"http request","z":"95d16dff.d8727","name":"","method":"POST","ret":"obj","paytoqs":"query","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/f5102952-e4f2-46e1-91ae-c03d5719ec43/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":400,"wires":[["1f6ce4b.bb5c01b","b47f3d56.110db"]]},{"id":"1f6ce4b.bb5c01b","type":"debug","z":"95d16dff.d8727","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1082.9999914169312,"y":484.00000381469727,"wires":[]},{"id":"2f007856.61a138","type":"inject","z":"95d16dff.d8727","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":280,"wires":[["dc3221aa.6e4d9"]]},{"id":"319d8c3f.a4bd14","type":"debug","z":"95d16dff.d8727","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":913.9999885559082,"y":267.0000057220459,"wires":[]},{"id":"b47f3d56.110db","type":"function","z":"95d16dff.d8727","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":759.6000595092773,"y":308.00000190734863,"wires":[["319d8c3f.a4bd14","f30552ed.dc3d6"]]},{"id":"f30552ed.dc3d6","type":"ui_text","z":"95d16dff.d8727","group":"75d2b9af.15af58","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":877.6000366210938,"y":541.2000122070312,"wires":[]},{"id":"75d2b9af.15af58","type":"ui_group","z":"","name":"New","tab":"8bc400d8.03853","order":1,"disp":true,"width":"6","collapse":false},{"id":"8bc400d8.03853","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]